<h3>本当に退会しますか？</h3>
<br>
<p>退会すると、会員登録情報や</p>
<p>これまでの購入履歴が閲覧できなくなります。</p>
<p>退会する場合は、「退会する」をクリックしてください。</p>

<div class="action space-sm row">
<%= form_with(model: @customer, local: true, class: 'container') do |f| %>
	<div class="col-lg-2 offset-lg-8">
        <%= link_to "退会しない", customers_path, class:"btn btn-success btn-block" %>
    </div>
    <div class="col-lg-2">
        <%= link_to "退会する",customer_withdraw_path, method: :patch , class:"btn btn-danger" %>
    </div>
<% end %>
</div>