<div class = "container-fluid">
	<div class = "row">
		<div class = "text-center align-middle", style="margin-top: 100px;">
		<h2>ご購入ありがとうございました！</h2><br><br>
		<%= image_tag'thanks.jpg', :size => '700x500' %><br><br>
		</div>
	</div>
</div>


