<div class="row">
	<h2><span class="contents_title">管理者画面</span></h2>
</div>
<br>
<div class="row">
	<h3>
		本日の注文件数
		<%= link_to admins_orders_path(flag: "top") do %><%= @today_count %>
		<% end %>件
	</h3>

</div>