// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table_box{
	padding-top: 120px;
}

.customer_head {
	padding-left: 120px;
	margin:40px;
}

.order_customer {
	font-size: 17px;
	padding-bottom: 30px;
}

.postal_code {
	height: 50px;
}

.postal_code_delivary {
	height: 65px
}